body {margin:0;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b23f35;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
	display: inline;
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: #432fa8;
    padding: 14px 25px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #2f6fa8;
}

.active {
    background-color: #2f6fa8;
}
